<div class="container">
	<div class="footer-bottom row-fluid">
		<div class="inner-footer-bottom span12">
			<p>
		  	<%= t('.copyright', :year => Time.now.year,
		                      	:site_name => Refinery::Core.site_name) %>
			</p>
		</div>
	</div>
</div>
