// ----- FONTS ----- //
$font-size: 16
$font-family: 'Yanone Kaffeesatz', sans-serif
$font-family-2: 'Merriweather', serif

// ----- COLORS ----- //

$theme-color: #996699
$gray: #333
$grey: #333
$blue: #2D89EF
$green: #00A300
$light-gray: #656565
$light-grey: #656565
$lighter-gray: #c5c5c5
$lighter-grey: #c5c5c5