<div id="bottom">
	<div class="container">
		<div class="row-fluid">
			<div class="footer-content group">
				<div class="span3 footer-about-us">
					<h4>About Me</h4>
					<p>For me, art is the optimal experience where I manifest the visions of my mind, a daily journey of striving for perfection</p>
				</div>
				<div class="span3 footer-social">
					<h4>Social</h4>
					<p><b>Address: </b>10 W 12th Ave</p>
					<p><b>Phone: </b>+1 604.555.1234</p>
					<p><b>Email: </b><%= mail_to 'evelynflynn@hotmail.com', 'evelynflynn@hotmail.com' %></p>
				</div>
				<div class="span6 footer-contact">
					<h4>Contact Me</h4>
				</div>
			</div>
		</div>
	</div>
</div>