<div class="row-fluid services">
	<div class="span4 service">
		<h3>Faux</h3>
		<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
		<p>Lorem ibsum</p>
	</div>
	<div class="span4 service">
		<h3>Trompel'&#156;il</h3>
		<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
		<p>Lorem ibsum</p>		
	</div>
	<div class="span4 service">
		<h3>Fine Art</h3>
		<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
		<p>Lorem ibsum</p>
	</div>
</div>