<div class="row-fluid services">
	
	<div class="span3 service">	
		<a href="/services">
			<h3>Faux</h3>
			<div class="service-image">
				<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
			</div>
			<p>Lorem ibsum</p>
		</a>
	</div>
	<div class="span3 service">	
		<a href="/services">
			<h3>Faux</h3>
			<div class="service-image">
				<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
			</div>
			<p>Lorem ibsum</p>
		</a>
	</div>
	<div class="span3 service">	
		<a href="/services">
			<h3>Faux</h3>
			<div class="service-image">
				<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
			</div>
			<p>Lorem ibsum</p>
		</a>
	</div>
	<div class="span3 service">	
		<a href="/services">
			<h3>Faux</h3>
			<div class="service-image">
				<%= image_tag 'http://demo.brankic.net/bigbangwp/wp-content/themes/bigbangwp/images/icons/writing.png' %>
			</div>
			<p>Lorem ibsum</p>
		</a>
	</div>
</div>