<div class="row-fluid">
	<h2 class="service_header">Services Offered:</h2>
</div>

<div class="row-fluid services">

	<% @services.each do |service| %>	
	<div class="span3 service">	
		<a href="/services">
			<h3><%=raw service.name -%></h3>
			<p><%=raw truncate(service.description, length: 70, :separator => ' ', omission: '... more') -%></p>
		</a>
	</div>
    <% end %>
	
</div>